# App Client

A API é capaz de:

* Requisição para criar um arquivo txt;
* Requisição para ler um arquivo txt;
* Requisição para atualizar um arquivo txt;
* A. Requisição para criar um arquivo .csv; 
* B. Requisição para editar um arquivo .csv (enviando dados para adicionar no csv original); 
* C. Requisição para ler de n a m linhas de um arquivo .csv;
* D. Requisição para retornar valores filtrados da coluna 'Duration' com valores menores que 120 min;
* E. Requisição para retornar diferentes instruções e tarefas geradas por Laura

In [1]:
import requests, json
import pandas as pd
from info_data import films, new_films

url = "http://127.0.0.1:8888/"
response = requests.get(url=url)
print(response.text)

Bem-vindo ao ICA

1. Criar um endpoint para criar um arquivo.txt

In [2]:
url = "http://127.0.0.1:5000/create_file"
payload = {"filename": "arquivo1.txt"}

post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

[
  {
    "filename": "arquivo1.txt"
  }
]

2. Criar um endpoint para ler um arquivo .txt

In [3]:
url = "http://127.0.0.1:5000/read_file"
payload = {"filename": "arquivo1.txt"}

post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

[
  "O arquivo criado foi arquivo1.txt"
]

3. Criar um endpoint para editar arquivo.txt já existente

In [4]:
url = "http://127.0.0.1:5000/edit_file"
payload = {"filename": "arquivo1.txt", "message": "\n Teste do aplicativo"}

post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

{
  "mensagem": "Arquivo editado",
  "data": [
    "O arquivo criado foi arquivo1.txt \n",
    " Teste do aplicativo"
  ]
}

# A. Criar um arquivo.csv

In [2]:
url = "http://127.0.0.1:8888/create_csv"
payload = {"filename": "films.csv"}

post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)
print(response_str)

[
  {
    "filename": "films.csv"
  }
]

In [6]:
df = pd.read_csv("films.csv")
df

,Name,Rating,Duration,Actor,Genre
0,Inception,8.8,148,Leonardo DiCaprio,Sci-Fi
1,In time,6.7,109,Justin Timberlake,Sci-Fi
2,The Intouchables,8.5,112,Omar Sy,Comedy
3,Source Code,7.5,93,Jake Gyllenhaal,Sci-Fi
4,Avatar,7.8,213,Zoe Saldana,Adventure
5,Pinochhio,5.5,124,Disney,Fantasy
6,Megan,6.4,102,Jenna Davis,Thriller
7,Everything everywhere all at once,7.9,139,Michelle Yeoh,Sci-Fi
8,Jumanji 2,7.4,123,Dwayne Johnson,Adventure
9,The Whale,7.8,117,Darren Aronofsky,Drama
10,Harry Potter,7.6,152,Daniel Radcliffe,Fantasy
11,Captain America,7.8,147,Chris Evans,Adventure
12,The Avengers,8.0,143,Chris Evans,Adventure
13,Under the Skin,6.3,108,Scarlett Johansson,Drama
14,Sing 2,7.4,110,Scarlett Johansson,Infantil
15,Nemo,6.5,111,Dolly,Infantil
16,The Matrix,8.7,136,Keanu Reeves,Action
17,The Matrix Reloaded,7.2,138,Keanu Reeves,Action
18,The Matrix Revolutions,6.7,129,Keanu Reeves,Action
19,The Ring,7.1,115,Naomi Watts,Horror

# B. Editar o arquivo.csv criado anteriormente

In [7]:
url = "http://127.0.0.1:5000/edit_csv"
payload = {"filename": "films.csv", "message": new_films}

post_response = requests.post(url=url, json=payload)
response_str = json.dumps(post_response.json(), indent=2)

data_file = pd.read_csv("films.csv")
data_file

,Name,Rating,Duration,Actor,Genre
0,Inception,8.8,148,Leonardo DiCaprio,Sci-Fi
1,In time,6.7,109,Justin Timberlake,Sci-Fi
2,The Intouchables,8.5,112,Omar Sy,Comedy
3,Source Code,7.5,93,Jake Gyllenhaal,Sci-Fi
4,Avatar,7.8,213,Zoe Saldana,Adventure
5,Pinochhio,5.5,124,Disney,Fantasy
6,Megan,6.4,102,Jenna Davis,Thriller
7,Everything everywhere all at once,7.9,139,Michelle Yeoh,Sci-Fi
8,Jumanji 2,7.4,123,Dwayne Johnson,Adventure
9,The Whale,7.8,117,Darren Aronofsky,Drama
10,Harry Potter,7.6,152,Daniel Radcliffe,Fantasy
11,Captain America,7.8,147,Chris Evans,Adventure
12,The Avengers,8.0,143,Chris Evans,Adventure
13,Under the Skin,6.3,108,Scarlett Johansson,Drama
14,Sing 2,7.4,110,Scarlett Johansson,Infantil
15,Nemo,6.5,111,Dolly,Infantil
16,The Matrix,8.7,136,Keanu Reeves,Action
17,The Matrix Reloaded,7.2,138,Keanu Reeves,Action
18,The Matrix Revolutions,6.7,129,Keanu Reeves,Action
19,The Ring,7.1,115,Naomi Watts,Horror
20,Toy Story,7.9,92,Woody,Sci-Fi
21,Wednesday,8.1,45,Jenna Ortega,Fantasy
22,Transformer,6.1,110,Robots,Adventure
23,Finding to Dolly,5.5,121,Nemo,Infantil
24,Pirates of the Caribbean,6.5,151,Capitan Sparrow,Adventure

# C. Requisição para ler de n a m linhas de um arquivo


Enviamos o intervalo de valores que vão ser filtrados, ou seja, para ler de n a m linhas

In [8]:
range_index = {
    "num_n": 6,
    "num_m" : 9
}

In [9]:
url = "http://127.0.0.1:5000/filter_range"
payload = {"filename": "films.csv", "filter": range_index}

post_response = requests.post(url=url, json=payload)
filter_result = post_response.json()
filter_columns = filter_result["columns"]
filter_data = filter_result["data"]
filter_df = pd.DataFrame(filter_data, columns=filter_columns)
filter_df

,Name,Rating,Duration,Actor,Genre
0,Megan,6.4,102,Jenna Davis,Thriller
1,Everything everywhere all at once,7.9,139,Michelle Yeoh,Sci-Fi
2,Jumanji 2,7.4,123,Dwayne Johnson,Adventure
3,The Whale,7.8,117,Darren Aronofsky,Drama

### D. Requisição para retornar os valores filtrados com valores menores que 120 min na coluna "Duration"

Filtragem dos valores menores que um valor x. Enviamos o nome da coluna numérica que será realizada a filtragem, e enviamos o valor x ao ser avaliado.

In [10]:
filter_1 = {
    "column": "Duration",
    "value" : 120 #duration: 2 hours
}

url = "http://127.0.0.1:5000/filter_data"
payload = {"filename": "films.csv", "filter": filter_1}
post_response = requests.post(url=url, json=payload)

filter_result = post_response.json()
filter_columns = filter_result["columns"]
filter_data = filter_result["data"]
filter_df = pd.DataFrame(filter_data, columns=filter_columns)
filter_df

                Name  Rating  Duration               Actor      Genre
0            In time     6.7       109   Justin Timberlake     Sci-Fi
1   The Intouchables     8.5       112             Omar Sy     Comedy
2        Source Code     7.5        93     Jake Gyllenhaal     Sci-Fi
3              Megan     6.4       102         Jenna Davis   Thriller
4          The Whale     7.8       117    Darren Aronofsky      Drama
5     Under the Skin     6.3       108  Scarlett Johansson      Drama
6             Sing 2     7.4       110  Scarlett Johansson   Infantil
7               Nemo     6.5       111               Dolly   Infantil
8           The Ring     7.1       115         Naomi Watts     Horror
9          Toy Story     7.9        92               Woody     Sci-Fi
10         Wednesday     8.1        45        Jenna Ortega    Fantasy
11       Transformer     6.1       110              Robots  Adventure

### E. Requisição para retornar todos os filmes de 'Sci-Fi'

In [11]:
filter_genre = {
    "column": "Genre",
    "tipo" : "Sci-Fi"
}

url = "http://127.0.0.1:5000/filter_genre"
payload = {"filename": "films.csv", "filter": filter_genre}

post_response = requests.post(url=url, json=payload)
filter_result = post_response.json()
filter_columns = filter_result["columns"]
filter_data = filter_result["data"]
filter_df = pd.DataFrame(filter_data, columns=filter_columns)
filter_df

,Name,Rating,Duration,Actor,Genre
0,Inception,8.8,148,Leonardo DiCaprio,Sci-Fi
1,In time,6.7,109,Justin Timberlake,Sci-Fi
2,Source Code,7.5,93,Jake Gyllenhaal,Sci-Fi
3,Everything everywhere all at once,7.9,139,Michelle Yeoh,Sci-Fi
4,Toy Story,7.9,92,Woody,Sci-Fi